/* import '' from '' */

body {
  background-color: lightblue;
}

h2 {
  color: navy;
  margin-left: 20px;
}

.divPs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.divPs > h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  background-color: whitesmoke;
  width: fit-content;
}

.divPs > span button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: pink;
  background-color: black;
  width: fit-content;
}


.divPs > span button:hover{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: pink;
  background-color: whitesmoke;
  width: fit-content;
}